<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>blog list</title>
</head>
<body>
<div class="table-responsive" ng-show="currentUser.role=='Admin'">
List of Blog Posts Waiting for Approval
<table class="table">
<tr><th>Recent Posts</th></tr>
<tr ng-repeat="blogPost in blogsWaitingForApproval | orderBy:'time':true">
<td><a href="#getBlogForApproval/{{blogPost.id}}">{{blogPost.title}}</a></td>
<td>Created By:{{blogPost.createdBy.username}}</td>
<td>Created On:{{blogPost.postedOn | date:'MM/dd/yyyy HH:mm'}}</td>
</tr>
</table>
</div>

<div class="table-responsive">
List of Blog Posts
<table class="table">
<tr><th>Recent Posts</th></tr>
<tr ng-repeat="blogPost in blogsApproved | orderBy:'time':true">
<td><a href="#getBlogDetail/{{blogPost.id}}">{{blogPost.title}}</a></td>
<td>Created By:{{blogPost.createdBy.username}}</td>
<td>Created On:{{blogPost.postedOn | date:'MM/dd/yyyy HH:mm'}}</td>
</tr>
</table>
</div>

</body>
</html>
