<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>blog details</title>
</head>
<body>
<div class="row">
<div>
<div class="panel panel-default">
<div class="panel-heading">
<div>{{blogPost.title}}</div>
<span><strong>Created By:</strong>{{blogPost.createdBy.username}}</span>
<span><strong>on:</strong>{{blogPost.postedOn | date:'medium'}}</span>
</div>
<div class="panel-body">{{blogPost.description}}</div>
</div>
</div>
</div>
<div> 
<form>
<textarea row="3" cols="20" ng-model="blogComment.body"></textarea><br>
<button ng-click="addComment()" value="Post Comment" class="btn btn-primary">Post Comment</button>
</form>
<div class="row">
<a href="" ng-click="getBlogComments(blogPost.id)"> Show Blog Comments</a>
<ul ng-show="showComments">
<li ng-repeat="comment in blogComments" style="list-style: none;">
<div>
{{comment.body}}
<span><strong>Commented By </strong>{{comment.commentedBy.username}}</span>
<span><strong>Commented On </strong>{{comment.commentedOn | date:'MM/dd/yyyy'}}</span>
</div>
</li>
</ul>
</div>
</div>

</body>
</html> 