<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>JOB TITLE</title>
</head>
<body>
<div>
Search <input ng-model="jobTitle">
<table class="table">
<thead>
<tr>
<th>Job Title</th><th>Posted On</th>
</tr>
</thead>
<tbody>
<tr ng-repeat="job in jobs | filter:jobTitle">
<br>
<br>
<td><a href="" ng-click="getJobDetail(job.id)">{{job.jobTitle}}</a></td><td>{{job.postedOn | date:'yyyy:MM:dd'}}</td>
</tr>  
</tbody>
</table>
<div ng-show="showdetails">
<b>Job Details</b><br> 
<br>
<br>
<b>Job Title :</b> {{job.jobTitle}} <br>
<br>
<br>
<b>Job Description :</b> {{job.jobDescription}} <br>
<br>
<br>
<b>Skills Required :</b> {{job.skillsRequired}} <br>
<br>
<br>
<b>Years Of Experience :</b> {{job.yearsofExp}} <br>
<br>
<br>
<b>Location :</b> {{job.location}} <br>
<br>
<br>
<b>Salary :</b> {{job.salary}} <br>
<br>
<br>
<b>Company Name :</b> {{job.companyName}}<br>
<br>
<br>
</div>
</div>

</body>
</html>