<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div class="container">
<table class="table table-striped">
<thead>
<tr>
<th>Firstname</th><th>Lastname</th><th>Role</th><th>Online</th><th>FriendRequest</th>
</tr>
</thead> 
<tbody>
<tr ng-repeat="user in suggestedUsers">
<td>{{user.firstname}}</td><td>{{user.lastname}}</td><td>{{user.role}}</td>
<td ng-if="user.online">YES</td>
<td ng-if="!user.online">NO</td>
<td><a href="" ng-click="friendrequest(user.username)" class="btn btn-default">Send Friend Request</a></td>
</tr>
</tbody>
</table>
</div>
</body>
</html>